@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.FooterContainer{
    background-color:#222222;
    width:1350px ;
    height:433px ;
   position: relative;
   bottom: 0px;
   margin-top: 160px;
}
.FooterContent{
    font-family:Inter ;
    margin-left: 120px;
 
    width: 80%;
    height: 100%;
    
}

.FooterText{

font-size: 22px;


height: 30px;
width: 417px;


position: relative;

top: 61px;
justify-content: space-between;
display: flex;
}



.colum{
    margin-right: 130px;
}


.firstLink{

    font-size: 22px;
    font-weight: 500;
  
margin-bottom: 15px;
    
   color: #ffffff;
}
.notFirst{
   
opacity: 0.5;
font-weight: 300;
font-size: 18px;

margin-bottom: 10px;

color: rgba(255, 255, 255, 0.8);

 
   
    
}







.FooterLogo{
   justify-content: flex-start;
   display: inline-block;

   width: 200px;
   height: 110px;
    position: relative;
   top: 270px;
}

.FutureImg{
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    top: 38px;
    


}

.ComName{
    width: 96px;
height: 34px;



font-weight: 400;
font-size: 28px;
line-height: 34px;
color: #FFFFFF;
position: relative;
   
    left: 52px;


}

.LogoText{
    width: 199px;
    height: 61px;
    
    
 
    font-size: 16px;
    line-height: 19px;
     position: relative;
        top: -28px;
    color: rgba(255, 255, 255, 0.6);;
}



.FooterHr{
    width: 1200px;
    height: 1px;
    background-color: gray;
    border: none;
    position: relative;
    top: 150px;
   }


.FooterEmail{
    position: relative;
width: 287px;

left: 1033px;



top: 30px;
font-size: 22px;




color: rgba(255, 255, 255, 0.6);
}






.socials{
    width: 166px;
    height: 42px;
    display: flex;
    position: relative;
    left: 90%;
    top: 195px;
}


.insta{
    width: 42px;
    height: 42px;
    background-image: url(/src/assets/images/free-icon-font-envelope-3916611.png);
    margin-right: 20px;
}


.gmail{
    width: 42px;
    height: 42px;
    background-image: url(/src/assets/images/free-icon-font-envelope-3916611\ \(1\).png);
    margin-right: 20px;
}


.whats{
    width: 42px;
    height: 42px;
    background-image: url(/src/assets/images/free-icon-font-whatsapp-6422213.png);
}

.Adres{
    font-family:Inter;
position: absolute;
right: 120px;
bottom: 200px;
width: 225px;
height: 174px;

}

.Adres h3{
    



font-weight: 500;

margin-bottom: 10px;

color: #FFFFFF;

}


.googleAdres{
    display: flex;

}

.googleAdres {
    font-size: 14px;
    
  
   


color: #A7A7A7;

}


.googleVector{
    margin-top: -5px;
    margin-right: 8px;
    width: 24px;
height: 31px;
    background-image: url(/src/assets/icons/Vector.png);
}

.adresImg{
    margin-top: 20px;
    width: 225px;
height: 96px;

background: url(/src/assets/images/google-maps-1254x699\ 1.png);
border-radius: 8px;

}
